@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

$project-font: 'Raleway', sans-serif;

//colors
$background: #ffffff;
$font-color: #0d0d0d;
$button-color: #261e17;
$table-head-color: #a6a29f;

$font-bold: 500;
$font-regular: 400;
$font-light: 300;